[features]
seeds = false
skip-lint = false

[programs.localnet]
aez_evolution = "GYYRqgHqsYQuYfZNCsQRKCxpJdy9gRS5A6aAK9fDCY7g"

[programs.devnet]
aez_evolution = "GYYRqgHqsYQuYfZNCsQRKCxpJdy9gRS5A6aAK9fDCY7g"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[toolchain]
anchor_version = "0.30.1"
